* {
    margin: 0;
    padding: 0
}

.game {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.game-image {
    background-color:bisque;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.game-image img {
    width: 100%;
    max-height: 100%;
    border: 2px solid black;
}

.game-info {
    text-align: center;
    background-color: bisque;
    border: 2px solid black;
}

#title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 4.5rem;
}

#title-instructions {
    font-size: 2rem;
}
#spaceToCellsPharse{
    padding-top: 10%;
    margin: 2rem;
}
.cellToPharse{
    background-color: transparent;
    border-bottom: 2px solid black;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
}
.emptyCellToPhrase{
    background-color: transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
}

#phrase {
    font-size: 2rem;
    margin: 2rem;
}

.keyBoardKey {
    width: 30px;
    height: 30px;
    margin: 3px;
    background-color: antiquewhite;
    border-radius: 5px;
    font-size: 20px;
}
.keyPressedCorrect{
    width: 30px;
    height: 30px;
    margin: 3px;
    background-color: greenyellow;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
.keyPressedIncorrect{
    width: 30px;
    height: 30px;
    margin: 3px;
    background-color:red;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.credits {
    position: absolute;
    bottom: 0;
    right:calc(15%);
}

@media (max-width: 600px) {
    .game {
        grid-template-columns: repeat(1, 1fr);
    }

    .keyBoardKey {
        width: 2rem;
        height: 2rem;
        border-radius: 5px;
        font-size: 1rem;
    }
    .game-image {
        width: 100vw;
        height: 50vh;
    }
    .credits {
        margin-top: 3rem;
        position: relative;
        bottom: 0;
        right: inherit;
    }
    .game-image{
        margin-bottom: 0;
    }
    .game-info{
        margin-top: 0;
        height: 50vh;
    }
    #title{
        font-size: 4rem;
    }
    #spaceToCellsPharse{
        padding-top: 0;
        margin: 1rem;
        margin-bottom: 1.5rem;
    }
    
}